extends: kanmu
parser: babel-eslint
env:
  mocha: true
plugins:
  - jsdoc
rules:
  valid-jsdoc: 0
  jsdoc/check-param-names: 2
  jsdoc/check-tag-names: 2
  jsdoc/check-types: 0
  jsdoc/newline-after-description: 2
  jsdoc/require-description-complete-sentence: 0
  jsdoc/require-hyphen-before-param-description: 2
  jsdoc/require-param: 2
  jsdoc/require-param-description: 2
  jsdoc/require-param-type: 0
  jsdoc/require-returns-description: 0
